@mixin elkoplast-abouUs {

  #aboutUs {
    .button {
      text-decoration: none;
    }

    #vyroba {
      margin-bottom: rem-calc(20);
    }
    #certifikace {
      .row {
        margin-bottom: rem-calc(40);
      }
      h2 {
        margin-bottom: rem-calc(25) !important;
      }
    }
    #doprava {
      table {
        margin-top: rem-calc(20) !important;
      }
    }
    #historie {

    }
    #veletrhy {

    }
    #reference {
      .button {
        margin-top: rem-calc(40);
        border: none !important;
        border-radius: 0 !important;
      }
      margin-bottom: rem-calc(80);
    }
    #konopi {
      margin-bottom: rem-calc(300);
      img {
        margin-bottom: rem-calc(40);
      }
    }
  }

}