@mixin elkoplast-contacts {
  #map {
    height: 450px;
  }
  #contacts {
    margin-top: rem-calc(-20);
    .hlavniKontakty {
      margin-bottom: rem-calc(30);
    }
    .hlavni > .row {
      background-image: url("../img/kontaktyBg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: rem-calc(55 25 15 25);
      @include breakpoint(medium down) {
        margin-bottom: rem-calc(30);
      }
      > div {
        margin-bottom: rem-calc(35);
      }
      h2 {
        color: $primary-color;
        font-size: rem-calc(20) !important;
        letter-spacing: -0.05rem !important;
        margin-bottom: 0 !important;
        line-height: rem-calc(20);
      }
      em {
        font-style: normal;
        font-weight: $global-weight-light;
        font-size: rem-calc(18);
        letter-spacing: -0.05rem;
        line-height: rem-calc(20);
        margin-bottom: rem-calc(15);
        display: block;
      }
      strong  {
        font-size: rem-calc(18);
        line-height: rem-calc(24);
        margin-bottom: rem-calc(18);
        display: block;
      }
      > div > div span {
        position: relative;
        padding-left: rem-calc(30);
        font-size: rem-calc(18);
        font-weight: $global-weight-light;
        letter-spacing: -0.05rem;
        margin-bottom: rem-calc(3);
        display: block;
        img {
          position: absolute;
        }
        .mobil {
          left: 0;
          top: rem-calc(1);
        }
        .email {
          left: rem-calc(-5);
          top: rem-calc(3);
        }
      }
    }
    .hlavniImg img {
      height: calc(100% - 2px) !important;
    }
    .dotaz {
      > .row {
        padding: rem-calc(0 20);
      }
      textarea {
        height: rem-calc(223);
        resize: none;
      }
    }
    .contactAccordion + .row .headline {
      margin-bottom: rem-calc(46) !important;
    }
  }

  .headline {
    min-height: rem-calc(51) !important;
    margin-left: rem-calc(20);
    h2 {
      font-weight: $global-weight-bold !important;
      letter-spacing: 0 !important;
      font-size: rem-calc(20) !important;
      line-height: rem-calc(33);
    }
  }

  .contactAccordion {
    li {
      padding: 0 !important;
    }
    .header {
      background-color: $body-font-color;
      color: $white;
      font-size: rem-calc(16);
      font-weight: $global-weight-bold;
      letter-spacing: -0.05rem;
      padding-left: rem-calc(10);
      margin-bottom: rem-calc(5);
      @include breakpoint(medium down) {
        padding: rem-calc(35 30 30 30);
      }
      > .columns:first-child {
        border-bottom: rem-calc(1) solid #f5f5f5;
        padding-bottom: rem-calc(10);
      }
      > .columns:nth-child(2) {
        padding-top: rem-calc(15);
      }
      @include breakpoint(large up) {
        > .columns:first-child, > .columns:nth-child(2) {
          border-bottom: none;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
    .accordion {
      border: none;
      @include breakpoint(large up) {
        .email {
          text-align: right;
        }
      }
    }
    .accordion-title {
      background-color: #f5f5f5;
      text-transform: uppercase;
      font-size: rem-calc(16);
      font-weight: $global-weight-bold;
      letter-spacing: -0.05rem;
      padding: rem-calc(35 49 30 55);
      border: none;
      border-left: rem-calc(8) solid $primary-color;
      margin-bottom: rem-calc(10);
    }
    .accordion-title::before {
      font-size: rem-calc(30);
      line-height: rem-calc(16);
      font-weight: $global-weight-bold;
      color: $body-font-color;
      background-color: #dadada;
      padding: rem-calc(13);
      border-radius: 50%;
      margin-top: rem-calc(-21);
      right: rem-calc(23);
    }
    .is-active > .accordion-title::before {
      content: "-";
      padding: rem-calc(11 16.7 15 16.7);
    }
    .accordion-content {
      font-size: rem-calc(16) !important;
      font-weight: $global-weight-light !important;
      letter-spacing: 0 !important;
      border: none;
      padding: rem-calc(0 28 0 46);
      @include breakpoint(small down) {
        padding: rem-calc(0 25);
      }
      a {
        font-size: rem-calc(16) !important;
        font-weight: $global-weight-light !important;
        letter-spacing: 0 !important;
      }
      > .row15 {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(28);
      }
      > .row15 > .columns:first-child {
        border-bottom: rem-calc(1) solid #f5f5f5;
        padding-bottom: rem-calc(10);
      }
      > .row15 > .columns:nth-child(2) {
        padding-top: rem-calc(15);
      }
      @include breakpoint(large up) {
        > .row15 > .columns:first-child, > .row15 > .columns:nth-child(2) {
          border-bottom: none;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

}