@mixin elkoplast-home {

  #services {
    margin-bottom: rem-calc(72 - 23);
    a:hover {
      text-decoration: none;
    }
    .paddingFix > .column {
      padding-left: rem-calc(22 / 2) !important;
      padding-right: rem-calc(23 / 2) !important;
    }
    .paddingFix {
      padding: 0 rem-calc(15 - 22 / 2);
    }
  }

  #about {
    padding-bottom: rem-calc(35);
    .large15-5 {
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
    }
    a > h3 {
      font-size: rem-calc(18) !important;
      letter-spacing: 0 !important;
      display: inline-block;
      margin-bottom: rem-calc(20);
      &:hover {
        color: $anchor-color-hover !important;
        text-decoration: underline;
      }
    }
    p {
      font-size: rem-calc(16) !important;
      font-weight: $global-weight-normal !important;
      line-height: rem-calc(24) !important;
      &:last-child {
        margin-bottom: rem-calc(60);
      }
    }
  }

  #news {
    margin-bottom: rem-calc(168);
    .headline {
      margin-bottom: rem-calc(45) !important;
    }
    .paddingFix {
      .column {
        padding-left: rem-calc(44 / 2);
        padding-right: rem-calc(44 / 2);
      }
    }
    a:hover {
      text-decoration: none;
    }
    .button {
      border: none !important;
    }
  }

}