@mixin grid-15 {

  $grid15-gutter: 20px;

  .row15 {
    @include grid-row(15);

    @include breakpoint(small) {
      .small15-3 {
        @include grid-column(3, $grid15-gutter)
      }
    }

    @include breakpoint(medium) {
      .medium15-5 {
        @include grid-column(5, $grid15-gutter)
      }
      .medium15-8 {
        @include grid-column(8, $grid15-gutter)
      }
    }

    @include breakpoint(large) {
      .large15-1 {
        @include grid-column(1, $grid15-gutter);
        h2 {
          border: rem-calc(1) solid black;
        }
      }
      .large15-3 {
        @include grid-column(3, $grid15-gutter)
      }
      .large15-4 {
        @include grid-column(4, $grid15-gutter)
      }
      .large15-5 {
        @include grid-column(5, $grid15-gutter)
      }
      .large15-6 {
        @include grid-column(6, $grid15-gutter)
      }
      .large15-7 {
        @include grid-column(7, $grid15-gutter)
      }
      .large15-8 {
        @include grid-column(8, $grid15-gutter)
      }
      .large15-9 {
        @include grid-column(9, $grid15-gutter)
      }
      .large15-11 {
        @include grid-column(11, $grid15-gutter);
      }
    }

    //středící třída
    .all15-centered {
      @include grid-column-position(center);
    }

  }

  //odsazení článku od menu
  @include breakpoint(large) {
    .row15 .large15-4 + article {
      padding-left: rem-calc(32);
    }
  }

}
