@mixin elkoplast-breadcrumbs {
	header {
		h1 {
			margin-bottom: rem-calc(10);
		}
	}
	ul.breadcrumbs {
		display: inline-block;
    		list-style: none;
    		margin:0;
    		margin-bottom: rem-calc(10);
    		li {
    			float: left;
    			padding: 0 !important;
    			&:before {
    				content: "»";
    				margin:rem-calc(15);
    			}
    			&:first-child::before {
    				content: none;
    			}
    		}

	}


}