$elkoplastFooterBgColor: #f1f3f0;

@mixin elkoplast-footer {

  footer {
    background-color: $elkoplastFooterBgColor;
    padding-top: rem-calc(24);
    > .row15:first-child {
      margin-bottom: rem-calc(20);
    }
    > .row:first-child {
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(30);
    }
    > .row:nth-child(2) {
      border-top: rem-calc(1) solid #dadcd9;
      padding-top: rem-calc(19);
      padding-bottom: rem-calc(18);
    }
    h2 {
      font-size: rem-calc(18) !important;
      letter-spacing: 0;
      margin-bottom: rem-calc(18) !important;
    }
    .large15-4 {
      @include breakpoint(large up) {
        padding-left: rem-calc(12) !important;
      }
      .columns {
        padding-left: 0 !important;
      }
    }
    .large15-11 {
      h2 {
        margin-bottom: rem-calc(10) !important;
      }
      .columns:first-child {
        padding-left: 0 !important;
      }
    }
    span {
      padding-right: rem-calc(14);
    }
    @include breakpoint(large up) {
      .large15-11 {
        padding-left: rem-calc(90) !important;
      }
    }
    p {
      font-size: rem-calc(15) !important;
      margin: 0 !important;
      letter-spacing: -0.05rem !important;
      font-weight: $global-weight-normal !important;
      color: #3c403a !important;
      line-height: rem-calc(30) !important;
    }
  }

  footer li {
    padding: 0 !important;
    a {
      color: #3c403a;
      font-weight: $global-weight-normal !important;
      font-size: rem-calc(15);
      margin: 0 !important;
      padding: rem-calc(0 0 6 0) !important;
      letter-spacing: -0.05rem !important;
    }
  }

}