@mixin elkoplast-headline {

  .headline {
    border-left: rem-calc(7) solid $primary-color;
    padding-left: rem-calc(25);
    min-height: rem-calc(60);
    padding-top: rem-calc(18px / 2);
    padding-bottom: rem-calc(18px / 2);
    margin-bottom: rem-calc(60) !important;
    &.top {
      margin-top: rem-calc(30);
      margin-bottom: rem-calc(30) !important;
    }
    h2 {
      font-weight: $global-weight-light !important;
      font-size: rem-calc(30) !important;
      letter-spacing: 0;
      margin: 0 !important;
    }
  }

}