@mixin elkoplast-productList {

  #products {
    .desc {
      margin-top: -2.5rem;
    }
    .large15-11 {
      padding-left: rem-calc(26);
    }
    h2 {
      margin-bottom: rem-calc(45) !important;
      margin-left: rem-calc(5);
      font-size: rem-calc(20);
      img {
        position: relative;
      }
      &.odpad {
        img {
          margin-top: rem-calc(-7);
          margin-right: rem-calc(10);
        }
      }
      &.dumAZahrada {
        img {
          margin-top: rem-calc(-8);
          margin-right: rem-calc(12);
        }
      }
      &.kapaliny {
        img {
          margin-top: rem-calc(0);
          margin-right: rem-calc(7);
        }
      }
      &.zimniUdrzba {
        img {
          margin-top: rem-calc(-4);
          margin-right: rem-calc(12);
        }
      }
      &.skladovani {
        img {
          margin-top: rem-calc(-5);
          margin-right: rem-calc(12);
        }
      }
      &.zakazkovaVyroba {
        img {
          margin-top: rem-calc(-11);
          margin-right: rem-calc(8);
        }
      }
    }
    .buy {
      background-color: $primary-color;
      &:hover {
        background-color: $body-font-color;
        text-decoration: none;
      }
    }
  }
  .productList {
    margin-bottom: rem-calc(40);
    .column {
      padding-left: rem-calc(7);
      padding-right: rem-calc(7);
      a {
        color: $primary-color !important;
        text-decoration: none !important;
      }
    }
  }
    section.gallery .productList .column{
      padding-left: 0;
      padding-right: 0;
      .product div {
        margin: rem-calc(12);
      }
    }
  .productList .product {
    text-align: center;
    margin-bottom: rem-calc(30);
    > div {
      background-color: #75b947;
      background-image: url("../img/+.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: rem-calc(20);
    }
    img {
      display: block;
      width: 100%;
      opacity: 1;
      transition: 200ms;
    }
    &:hover, &:focus {
      img {
        opacity: 0.25;
        transition: 200ms;
      }
    }
  }
  #products .ulwrapper {
    ul {
      display: table;
    }
  }
  #products .dotaz {
    margin-bottom: rem-calc(270);
    h2 {
      margin-bottom: rem-calc(50) !important;
    }
    textarea {
      min-height: rem-calc(223);
      resize: none;
    }
    > .row:nth-child(2) {
      margin-bottom: rem-calc(15);
      @include breakpoint(medium up) {
        > .columns:nth-child(1) {
          padding-right: rem-calc(12) !important;
        }
        > .columns:nth-child(2) {
          padding-left: 0 !important;
        }
      }
    }
  }
.productList {
    .product {
      color: #000000;
    }
  }
  .productList.odpad {
    .product {
      > div {
        background-color: $colorOdpady;
      }
     
    }
  }
  .productList.dumAZahrada {
    .product {
      > div {
        background-color: $colorDumAZahrada;
      }
    
    }
  }
  .productList.kapaliny {
    .product {
      > div {
        background-color: $colorKapaliny;
      }
     
    }
  }
  .productList.zimniUdrzba {
    .product {
      > div {
        background-color: $colorZimnniUdrzba;
      }
      
    }
  }
  .productList.skladovani {
    .product {
      > div {
        background-color: $colorSkladovani;
      }
      
    }
  }
  .productList.zakazkovaVyroba {
    .product {
      > div {
        background-color: $colorZakazkovaVyroba;
      }
    
    }
  }

}