@mixin elkoplast-search {

  #search {
    a {
      color: $body-font-color;
    }
    .items .item {
      margin-top: rem-calc(35);
      border-bottom: rem-calc(1) solid #dbdbdb;
      h2 {
        color: $primary-color;
        margin-bottom: rem-calc(22) !important;
        font-size: rem-calc(18);
      }
      img {
        margin-bottom: rem-calc(35);
      }
      p {
        margin: 0;
      }
      .columns:first-child {
        text-align: center;
        padding: 0 !important;
      }
      .columns:nth-child(2) {
        padding-left: 0 !important;
      }
    }
    .items {
      a:first-child .item {
        margin-top: rem-calc(10);
      }
      a:last-child .item {
        margin-bottom: rem-calc(110 - 35);
        border-bottom: none;
      }
    }
    .back {
      margin-bottom: rem-calc(30);
    }
    .back a {
      color: $white;
      padding-left: rem-calc(70) !important;
      font-size: rem-calc(16);
      &::after {
        left: rem-calc(30);
        transform: rotate(180deg);
      }
      &:hover {
        background-color: $body-font-color;
      }
    }
  }

}