@mixin elkoplast-service {

  .service {
    margin-bottom: rem-calc(23);
    > img {
      width: 100%;
    }
    > div {
      background-color: $primary-color;
      font-size: rem-calc(24);
      color: $white;
      font-weight: $global-weight-light;
      padding: rem-calc(25 20);
      position: relative;
      //horní trojúhelník
      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem-calc(27) 0 rem-calc(27) rem-calc(18);
        border-color: transparent transparent transparent $primary-color;
        position: absolute;
        left: 0;
        top: rem-calc(-27);
      }
      //dolní trojúhelník
      &:after {
        content: "";
        display: inline-block;
        width: rem-calc(4);
        height: rem-calc(11);
        background-image: url(../img/arrowRight.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: rem-calc(15);
        top: calc(50% - 0.3125rem);
      }
      strong {
        font-weight: $global-weight-light;
      }
    }
    > div, > div:before {
      transition: 100ms;
    }
  }

  .service:hover {
    > div {
      background-color: $primary-color !important;
      &:before {
        border-color: transparent transparent transparent $primary-color !important;
      }
    }
    > div, > div:before {
      transition: 200ms;
    }
  }

  .service.odpad {
    > div {
      background-color: $colorOdpady;
      &:before {
        border-color: transparent transparent transparent $colorOdpady;
      }
    }
  }
  .service.dumAZahrada {
    > div {
      background-color: $colorDumAZahrada;
      &:before {
        border-color: transparent transparent transparent $colorDumAZahrada;
      }
    }
  }
  .service.kapaliny {
    > div {
      background-color: $colorKapaliny;
      &:before {
        border-color: transparent transparent transparent $colorKapaliny;
      }
    }
  }
  .service.zimniUdrzba {
    > div {
      background-color: $colorZimnniUdrzba;
      &:before {
        border-color: transparent transparent transparent $colorZimnniUdrzba;
      }
    }
  }
  .service.skladovani {
    > div {
      background-color: $colorSkladovani;
      &:before {
        border-color: transparent transparent transparent $colorSkladovani;
      }
    }
  }
  .service.zakazkovaVyroba {
    > div {
      background-color: $colorZakazkovaVyroba;
      &:before {
        border-color: transparent transparent transparent $colorZakazkovaVyroba;
      }
    }
  }

}