@mixin elkoplast-topBar {

  nav.sticky-container {
    height: rem-calc(100) !important;
    @include breakpoint(medium down) {
      height: rem-calc(42) !important;
    }
  }
  .menu > li:not(.menu-text) > a {
    padding: 0.7rem 0.46rem;
  }
  .sticky {
    width: 100%;
  }

  #mainNav {
    -webkit-box-shadow: 0px 1px 20px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 20px -8px rgba(0,0,0,1);
    box-shadow: 0px 1px 20px -8px rgba(0,0,0,1);
    background-color: $white;
    li {
      padding-left: 0 !important;
      &.active a {
        font-weight: $global-weight-bold !important;
      }
    }
    a {
      color: $body-font-color !important;
      font-weight: $global-weight-normal !important;
      font-size: rem-calc(15) !important;
      text-transform: uppercase !important;
      letter-spacing: -0.05rem;
      @include breakpoint(large up) {
        line-height: rem-calc(35);
        padding-top: rem-calc(65px / 2);
        padding-bottom: rem-calc(65px / 2);
      }
      &.button {
        height: rem-calc(35);
        padding: rem-calc(10) !important;
        background-color: #75b947;
        &:hover {
          background-color: #292a28;
        }
        @include breakpoint(large) {
          padding: rem-calc(0 10) !important;
          margin-right: rem-calc(10);
        }
        text-align: center;
        color: $white !important;
        font-weight: $global-weight-bold;
        text-decoration: none;
      }
    }
    //logo
    .menu-text {
      padding-top: rem-calc(56px / 2);
      padding-bottom: rem-calc(56px / 2);
      a {
        padding: 0;
        img {
          vertical-align: bottom;
        }
      }
    }
    .has-submenu > a:after {
      display: inline-block;
      width: rem-calc(10);
      height: rem-calc(5);
      background-image: url(../img/arrowDown.svg);
      background-repeat: no-repeat;
      border: none;
      position: absolute;
      margin: rem-calc(0 0 0 7);
      top: calc(50% - 4px);
      @include breakpoint(medium only) {
        left: 20%;
      }
    }
    //obrázkové ikonky v pravé části
    .large15-11 a > img {
      vertical-align: text-top;
    }
    //výběr jazyka
    .large15-11 li:nth-child(7) a:after {
      margin-left: rem-calc(13) !important;
    }
  }

  //Nastavení paddingu na desktopu podle psd
  #mainNav .large15-11 > .paddingFix {
    @include breakpoint(large) {
      li:first-child a {
        padding-right: rem-calc(10) !important;
      }
      li:nth-child(2) > a {
        padding-right: rem-calc(24) !important;
      }
      li:nth-child(3) > a {
        padding-right: rem-calc(24) !important;
      }
      li:nth-child(4) > a {
        padding-right: rem-calc(22) !important;
      }
      li:nth-child(5) > a {
        padding-right: rem-calc(19) !important;
      }
      li:nth-child(6) > a {
        padding-right: rem-calc(20) !important;
      }
       
     /* li:nth-child(7) > a {
        padding-right: rem-calc(50) !important;
      }*/
      li:nth-child(8) > a {
        padding-right: rem-calc(21) !important;
      }
    }
  }

  //trojúhelník nad dropem
  #mainNav li.has-submenu > .submenu {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 rem-calc(12) rem-calc(12) rem-calc(12);
      border-color: transparent transparent $white transparent;
      top: rem-calc(-12);
    }
  }

  #mainNav li.has-submenu.products {
    .submenu {
      min-width: $grid-row-width;
      left: rem-calc(-375);
      border: none;
      background-color: transparent;
      @include breakpoint(large up) {
        padding-left: rem-calc(320);
      }
      @include breakpoint(medium down) {
        background-image: url("../img/white1x1.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      border-top: 1.25rem solid transparent;
      top: 100%;
      &::before {
        left: rem-calc(415);
      }
      a {
        padding: 0 !important;
      }
      > li {
        @include breakpoint(large up) {
          background-color: white;
          -webkit-box-shadow: rem-calc(0 5 5 0) rgba(0,0,0,0.09);
          -moz-box-shadow: rem-calc(0 5 5 0) rgba(0,0,0,0.09);
          box-shadow: rem-calc(0 5 5 0) rgba(0,0,0,0.09);
        }
      }
    }
    .row15 {
      padding: rem-calc(18 0 16 0);
      @include breakpoint(large down) {
        width: 100vw !important;
        margin: 0;
      }
      .column {
        text-align: center;
        border-right: rem-calc(1) solid #e9e9e9;
        min-height: rem-calc(195);
        position: relative;
        @include breakpoint(large) {
          &::after {
            display: block;
            content: "";
            width: calc(100% + 0.0625rem);
            height: rem-calc(10);
            background-color: $primary-color;
            position: absolute;
            left: 0;
            bottom: rem-calc(-16);
          }
          &:nth-child(1)::after {
            background-color: $colorOdpady;
          }
          &:nth-child(2)::after {
            background-color: $colorDumAZahrada;
          }
          &:nth-child(3)::after {
            background-color: $colorKapaliny;
          }
          &:nth-child(4)::after {
            background-color: $colorZimnniUdrzba;
          }
          &:nth-child(5)::after {
            background-color: $colorSkladovani;
          }
        }
        @include breakpoint(large down) {
          border: none;
        }
        &:last-child div {
          border-right: none;
        }
      }
      .column div {
        position: relative;
      }
      img {
        max-height: rem-calc(102);
        margin-top: rem-calc(15);
        margin-bottom: rem-calc(15);
      }
      h2 {
        font-size: rem-calc(17);
        text-transform: none;
        letter-spacing: -0.05rem;
        margin: 0 !important;
      }
    }

  }

  #mainNav li.has-submenu.language {
    .submenu {
      min-width: rem-calc(66);
      top: 100%;
      border: none;
      background-color: transparent;
      background-image: url("../img/white1x1.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-top: 1.25rem solid transparent;
      &::before {
        left: rem-calc(26);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.31);
        box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.31);
        top: 0;
        z-index: -1;
      }
      li {
        text-align: center;
        &:first-child {
          margin-top: rem-calc(8);
        }
        &:last-child {
          margin-bottom: rem-calc(14);
        }
      }
      a {
        font-size: rem-calc(15) !important;
        letter-spacing: -0.05rem !important;
        line-height: rem-calc(15);
        padding: rem-calc(10 0) !important;
      }
    }
  }

  #mainNav li.has-submenu.search {
    > a::after {
      display: none;
    }
    .submenu {
      min-width: rem-calc(380);
      border: none;
      top: 100%;
      left: rem-calc(-310) !important;
      padding: rem-calc(22 15 20 19);
      border-bottom: rem-calc(4) solid $primary-color;
      background-color: transparent;
      background-image: url("../img/white1x1.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-top: 1.5rem solid transparent;
      li {
        height: rem-calc(55);
      }
      &::before {
        right: rem-calc(32);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.31);
        box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.31);
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    input {
      background-color: #eeefed;
      font-size: rem-calc(16) !important;
      line-height: rem-calc(16) !important;
      height: rem-calc(55) !important;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($body-font-color, 0.5);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba($body-font-color, 0.5);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba($body-font-color, 0.5);
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: rgba($body-font-color, 0.5);
      }
      &:focus {
        box-shadow: none !important;
      }
    }
    .button {
      background-color: #eeefed;
      background-image: url("../img/searchLight.svg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      border: none !important;
      border-radius: 0 !important;
      height: rem-calc(55);
      &:focus {
        border: none !important;
      }
    }
  }

  .is-unstucked {
    position: relative !important;
    #mainNav > .row15 {
      min-height: calc(100vh - 2.625rem) !important;
    }
  }
  #contentAfterMenu {
    margin-top: 20px;
  }

  #contentAfterMenu.home {
    margin-top: 0;
  }


}