@mixin elkoplast-whyUs {

  #whyUs {
    background-color: #31382d;
    color: $white;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(30);
    .columns {
      position: relative;
    }
    img {
      position: absolute;
    }
    strong {
      font-weight: $global-weight-light;
      font-size: rem-calc(19.97) !important;
      line-height: rem-calc(22);
      letter-spacing: 0;
    }
    .columns:first-child {
      padding-left: rem-calc(153);
      img {
        top: rem-calc(-7);
        left: rem-calc(72);
      }
    }
    .columns:nth-child(2) {
      padding-left: rem-calc(140);
      img {
        top: rem-calc(-4);
        left: rem-calc(75);
      }
    }
    .columns:nth-child(3) {
      padding-left: rem-calc(125);
      img {
        top: rem-calc(1);
        left: rem-calc(53);
      }
    }
    @include breakpoint(large) {
      strong {
        font-size: rem-calc(19.97) !important;
      }
    }
    @include breakpoint(medium only) {
      .columns {
        padding-left: rem-calc(90) !important;
      }
      strong {
        font-size: rem-calc(16) !important;
      }
      img {
        left: rem-calc(20) !important;
      }
    }
    @include breakpoint(small only) {
      .columns {
        margin-bottom: rem-calc(30);
        padding-left: rem-calc(120) !important;
        &:last-child {
          margin-bottom: 0;
        }
      }
      img {
        left: rem-calc(30) !important;
      }
    }
  }

}