<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<section id="error404">
    <article>
        <div class="row">
            <div class="small-12 columns">
                <header>
                    <h1>Stránka nenalezena</h1>
                </header>
            </div>
        </div>
        <div class="row15">
            <div class="large15-7 columns">
                <h2>CHYBA 404</h2>
                <p>
                    Zadaná stránka nebyla nalezena. Lorem ipsum dolor sit amet, dolo rs it amet,
                    dolor sit amet, dolor sit amet.
                </p>
                <p>
                    <a href="#">
                        Vrátit se zpět
                    </a>
                    <br>
                    <a href="#">
                        Přejít na hlavní stránku
                    </a>
                </p>
            </div>
            <div class="large15-8 columns">
                <img src="{{root}}assets/img/404.png" alt="Kontejnery">
            </div>
        </div>
    </article>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>