<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<article id="contacts">
    <div class="row">
        <div class="small-12 columns">
            <header>
                <h1>Zjistěte více, <strong>kontaktujte nás...</strong></h1>
            </header>
        </div>
    </div>

    <div class="row15 hlavniKontakty" data-equalizer data-equalize-on="large">
        <div class="large15-11 columns hlavni" data-equalizer-watch>
            <div class="row">
                <div class="medium-4 columns">
                    <h2>ELKOPLAST CZ, s.r.o.</h2>
                    <em>Centrála Zlín (správa, obchod)</em>
                    <strong>
                        Štefánikova 2664,
                        <br>
                        760 01 Zlín
                    </strong>
                    <div>
                        <span><img src="{{root}}assets/img/mobile.svg" alt="Mobil" class="mobil">+420 <b>575 571 000</b></span>
                        <span><img src="{{root}}assets/img/email.svg" alt="Email" class="email"><b>zlin</b>@elkoplast.cz</span>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <h2>ELKOPLAST CZ, s.r.o.</h2>
                    <em>Centrála Ostrata (sklolamináty)</em>
                    <strong>
                        Ostrata 132,
                        <br>
                        763 11 Ostrata
                    </strong>
                    <div>
                        <span><img src="{{root}}assets/img/mobile.svg" alt="Mobil" class="mobil">+420 <b>577 914 909</b></span>
                        <span><img src="{{root}}assets/img/email.svg" alt="Email" class="email"><b>ostrata</b>@elkoplast.cz</span>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <h2>ELKOPLAST CZ, s.r.o.</h2>
                    <em>Bruntál (kovovýroba, plasty)</em>
                    <strong>
                        Vrchlického 10,
                        <br>
                        792 01 Bruntál
                    </strong>
                    <div>
                        <span><img src="{{root}}assets/img/mobile.svg" alt="Mobil" class="mobil">+420 <b>554 219 291</b></span>
                        <span><img src="{{root}}assets/img/email.svg" alt="Email" class="email"><b>bruntal</b>@elkoplast.cz</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="large15-4 columns hlavniImg" data-equalizer-watch>
            <img src="{{root}}assets/img/hlavni.png" alt="Hlavní kontakt">
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <header class="headline">
                <h2>Kontakty na naše zaměstnance</h2>
            </header>
        </div>
    </div>

    <div class="contactAccordion row">
        <div class="small-12 columns">
            <div class="row15 header">
                <div class="large15-6 columns">
                    <div class="row">
                        <div class="small-6 medium-4 large-6 columns">
                            Oddělení
                        </div>
                        <div class="small-6 medium-4 large-6 end columns">
                            Jméno a příjmení
                        </div>
                    </div>
                </div>
                <div class="large15-9 columns">
                    <div class="row">
                        <div class="small-6 medium-4 columns">
                            Funkce
                        </div>
                        <div class="small-6 medium-4 columns">
                            Telefonní číslo
                        </div>
                        <div class="medium-4 columns email">
                            Emailová adresa
                        </div>
                    </div>
                </div>
            </div>
            <ul class="accordion" data-accordion>
                <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">CENTRÁLA ZLÍN</a>
                    <div class="accordion-content" data-tab-content>

                    </div>
                </li>
                <li class="accordion-item is-active" data-accordion-item>
                    <a class="accordion-title">VÝROBA OSTRATA</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row15">
                            <div class="large15-6 columns">
                                <div class="row">
                                    <div class="small-6 medium-4 large-6 columns">
                                        Výrobní oddělení
                                    </div>
                                    <div class="small-6 medium-4 large-6 end columns">
                                        Ladislav Krajča
                                    </div>
                                </div>
                            </div>
                            <div class="large15-9 columns">
                                <div class="row">
                                    <div class="small-6 medium-4 columns">
                                        Výrobní ředitel
                                    </div>
                                    <div class="small-6 medium-4 columns">
                                        +420 577 914 909
                                    </div>
                                    <div class="medium-4 columns email">
                                        <a href="mailto:ladislav.krajca@elkoplast.cz">ladislav.krajca@elkoplast.cz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row15">
                            <div class="large15-6 columns">
                                <div class="row">
                                    <div class="small-6 medium-4 large-6 columns">
                                        Výrobní oddělení
                                    </div>
                                    <div class="small-6 medium-4 large-6 end columns">
                                        Ladislav Krajča
                                    </div>
                                </div>
                            </div>
                            <div class="large15-9 columns">
                                <div class="row">
                                    <div class="small-6 medium-4 columns">
                                        Výrobní ředitel
                                    </div>
                                    <div class="small-6 medium-4 columns">
                                        +420 577 914 909
                                    </div>
                                    <div class="medium-4 columns email">
                                        <a href="mailto:ladislav.krajca@elkoplast.cz">ladislav.krajca@elkoplast.cz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row15">
                            <div class="large15-6 columns">
                                <div class="row">
                                    <div class="small-6 medium-4 large-6 columns">
                                        Výrobní oddělení
                                    </div>
                                    <div class="small-6 medium-4 large-6 end columns">
                                        Ladislav Krajča
                                    </div>
                                </div>
                            </div>
                            <div class="large15-9 columns">
                                <div class="row">
                                    <div class="small-6 medium-4 columns">
                                        Výrobní ředitel
                                    </div>
                                    <div class="small-6 medium-4 columns">
                                        +420 577 914 909
                                    </div>
                                    <div class="medium-4 columns email">
                                        <a href="mailto:ladislav.krajca@elkoplast.cz">ladislav.krajca@elkoplast.cz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">DOPRAVA BRUNTÁL</a>
                    <div class="accordion-content" data-tab-content>

                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">VÝROBA BRUNTÁL</a>
                    <div class="accordion-content" data-tab-content>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <header class="headline">
                <h2>Kontaktní formulář</h2>
            </header>
        </div>
    </div>

    <form action="" class="dotaz">
        <div class="row">
            <div class="medium-6 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" placeholder="Jméno a příjmení">
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="tel" placeholder="Telefonní číslo">
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="email" placeholder="Emailová adresa">
                    </div>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <textarea placeholder="Text Vaší zprávy"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns text-center">
                <button type="submit" class="button">
                    Odeslat zprávu
                </button>
            </div>
        </div>
    </form>
    <div id="map">

    </div>
</article>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>