<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<section class="row15">
    <div class="large15-4 columns">
        <ul class="accordion hide-for-large" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">Sekce</a>
                <div class="accordion-content" data-tab-content>
                    <nav class="sideNav">
                        <ul class="menu vertical">
                            <li class="active"><a href="#">Sekce 1</a></li>
                            <li><a href="#">Sekce 2</a></li>
                            <li><a href="#">Sekce 3</a></li>
                            <li><a href="#">Sekce 4</a></li>
                            <li><a href="#">Sekce 5</a></li>
                            <li><a href="#">Sekce 6</a></li>
                            <li><a href="#">Sekce 7</a></li>
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
        <nav class="sideNav show-for-large">
            <ul class="menu vertical">
                <li class="active"><a href="#">Sekce 1</a></li>
                <li><a href="#">Sekce 2</a></li>
                <li><a href="#">Sekce 3</a></li>
                <li><a href="#">Sekce 4</a></li>
                <li><a href="#">Sekce 5</a></li>
                <li><a href="#">Sekce 6</a></li>
                <li><a href="#">Sekce 7</a></li>
            </ul>
        </nav>
    </div>
    <article class="large15-11 columns">
        <header>
            <h1>Zjistěte více <strong>o naší společnosti</strong></h1>
        </header>
        <h2>Výrobní program h2</h2>
        <p>
            Naše společnost patří <strong>mezi významné evropské výrobce</strong> ocelových velkoobjemových kontejnerů a kontejnerů
            na tříděný sběr. Mezi <strong>velmi žádané výrobky</strong> patří také sklolaminátové nádoby na zimní posyp. Jsme jediným
            českým výrobcem mobilních plastových nádrží s výdejním zařízením <strong>pro skladování motorové nafty a dalších
            ropných produktů</strong>. Vyrábíme také nádrže na <em>chemikálie a jiné kapaliny</em>, stejně jako nádrže podzemní,
            které se osvědčily jako jímky na <a href="#">dešťové a splaškové vody - toto je odkaz</a>.
        </p>
        <h3>Kovovýroba h3</h3>
        <h4>Rotační odlévání plastů h4</h4>
        <h5>SPECIÁLNÍ NADPIS h5</h5>

        <table>
            <thead>
                <tr>
                    <th>Položka 1</th><th>Položka 2</th><th>Položka 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit</td><td>150</td><td>Lorem ipsum dolor sit amet dolor sit amet, dolor sit amet...</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit</td><td>150</td><td>Lorem ipsum dolor sit amet dolor sit amet, dolor sit amet...</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit</td><td>150</td><td>Lorem ipsum dolor sit amet dolor sit amet, dolor sit amet...</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>položka 1</li>
            <li>položka 2</li>
            <li>položka 3</li>
            <li>položka 4</li>
        </ul>

        <a href="#">
            <div class="callout clearfix">
                <img src="{{root}}assets/img/download.svg" alt="Download" class="float-left"><p>Přiložený soubor: <strong>Nějaký certifikát</strong></p>
            </div>
        </a>
    </article>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>