<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<section class="row15" id="products">
    <div class="large15-4 columns">
        <ul class="accordion hide-for-large" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">Sekce</a>
                <div class="accordion-content" data-tab-content>
                    <nav class="sideNav product">
                        <ul class="menu vertical">
                            <li class="active"><a href="#"><img src="{{root}}assets/img/odpadySide.png" alt="Odpady">Odpady</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/dumSide.png" alt="Kolečko">Dům a zahrada</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/kapalinySide.png" alt="Kapaliny">Kapaliny</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/zimaSide.png" alt="Zimní údržba">Zimní údržba</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/skladSide.png" alt="Skladování">Skladování</a></li>
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
        <nav class="sideNav show-for-large product">
            <ul class="menu vertical">
                <li class="active"><a href="#"><img src="{{root}}assets/img/odpadySide.png" alt="Odpady">Odpady</a></li>
                <li><a href="#"><img src="{{root}}assets/img/dumSide.png" alt="Kolečko">Dům a zahrada</a></li>
                <li><a href="#"><img src="{{root}}assets/img/kapalinySide.png" alt="Kapaliny">Kapaliny</a></li>
                <li><a href="#"><img src="{{root}}assets/img/zimaSide.png" alt="Zimní údržba">Zimní údržba</a></li>
                <li><a href="#"><img src="{{root}}assets/img/skladSide.png" alt="Skladování">Skladování</a></li>
            </ul>
        </nav>
    </div>
    <div class="large15-11 columns">
        <div class="row">
            <div class="small-12 columns">
                <header>
                    <h1>Velkoobjemové kontajnery</h1>
                </header>
                <p>
                    ELKOPLAST CZ se řadí s roční produkcí více než 1500 ks k předním výrobcům velkoobjemových kontejnerů
                    v České republice. Vyrábíme klasické otevřené, uzavřené nebo speciální abroly v nově otevřeném výrobním
                    závodě v Bruntále (otevřeno v roce 2001) na ploše cca. 29000 m2. Závod je postupně modernizován a díky
                    novým investicím se i stále rozrůstá.
                </p>
                <p>
                    Podstatná část výrobní produkce je určena pro export. Exportovány jsou nejčastěji kontejnery vyrobené podle
                    německé normy DIN 30722 nebo francouzské NF R 17-108. Naše kontejnery dnes můžete vidět ve 14
                    evropských zemích všude tam, kde je zapotřebí efektivně skladovat či přepravovat velký objem materiálu.
                    Výrobky firmy ELKOPLAST CZ se prosazují díky své vysoké užitné hodnotě a kvalitě dílenského zpracování.
                </p>
                <p>
                    Investicemi do moderní výrobní technologie a racionalizací výrobního procesu chceme dlouhodobě přispět
                    k zajištění ekonomického a bezpečného nakládání s odpady. Součástí výrobního závodu je konstrukční kancelář
                    s moderním softwarovým vybavením Autodesk Inventor Series, díky které provádíme všechny technické úpravy
                    na přání zákazníka operativně, včetně přípravy výstupní technické dokumentace nebo 3D modelů.
                </p>
            </div>
        </div>
        <div class="row large-up-3 medium-up-2 small-up-1 productList">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>