<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<section class="row15" id="products">
    <div class="large15-4 columns">
        <ul class="accordion hide-for-large" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">Sekce</a>
                <div class="accordion-content" data-tab-content>
                    <nav class="sideNav product">
                        <ul class="menu vertical">
                            <li class="active"><a href="#"><img src="{{root}}assets/img/odpadySide.png" alt="Odpady">Odpady</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/dumSide.png" alt="Kolečko">Dům a zahrada</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/kapalinySide.png" alt="Kapaliny">Kapaliny</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/zimaSide.png" alt="Zimní údržba">Zimní údržba</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/skladSide.png" alt="Skladování">Skladování</a></li>
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
        <nav class="sideNav show-for-large product">
            <ul class="menu vertical">
                <li class="active"><a href="#"><img src="{{root}}assets/img/odpadySide.png" alt="Odpady">Odpady</a></li>
                <li><a href="#"><img src="{{root}}assets/img/dumSide.png" alt="Kolečko">Dům a zahrada</a></li>
                <li><a href="#"><img src="{{root}}assets/img/kapalinySide.png" alt="Kapaliny">Kapaliny</a></li>
                <li><a href="#"><img src="{{root}}assets/img/zimaSide.png" alt="Zimní údržba">Zimní údržba</a></li>
                <li><a href="#"><img src="{{root}}assets/img/skladSide.png" alt="Skladování">Skladování</a></li>
            </ul>
        </nav>
    </div>
    <div class="large15-11 columns">
        <div class="row">
            <div class="medium-8 columns">
                <header>
                    <h1>Abroly odlehčené (ABR-WD)</h1>
                </header>
            </div>
            <div class="medium-4 columns">
                <a href="#" class="button buy">Koupit v eshopu</a>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <p>
                    S ohledem na efektivitu přepravy a s ohledem na velké výkyvy cen surovin se od roku 2006 věnujeme vývoji
                    a výrobě odlehčených kontejnerů. V současnosti nabízíme ucelenou řadu kontejnerů s objemem od 7 do 50 m3,
                    které využívají desítky firem v Evropě pro přepravu nejrůznějších druhů odpadů. Konstrukční řešení a minimum
                    svárů garantuje vysokou pevnost a dlouhou životnost.
                </p>
                <p>
                    Abychom docílili nejlepšího poměru hmotnost – nosnost, používáme výhradně oceli vyšších jakostí. Různé
                    charakteristiky použitých materiálů přitom umožňují zvolit ideální kombinaci s ohledem na ekonomiku provozu,
                    životnost kontejneru a jeho cenu.
                </p>
            </div>
        </div>
        <div class="row large-up-3 medium-up-2 small-up-1 productList">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Něco</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <form action="" class="dotaz">
            <div class="row">
                <div class="small-12 columns">
                    <h2>Máte nějaký dotaz ohledně produktu?</h2>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="text" placeholder="Jméno a příjmení">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="tel" placeholder="Telefonní číslo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="email" placeholder="Emailová adresa">
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="row">
                        <div class="small-12 columns">
                            <textarea placeholder="Text Vaší zprávy"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns text-center">
                    <button type="submit" class="button">
                        Odeslat zprávu
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>