<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<div class="row">
    <div class="small-12 columns">
        <header>
            <h1>Odpadové <strong>kontejnery, nádrže, nádoby</strong> a další <strong>plastové a ocelové</strong> výrobky</h1>
        </header>
    </div>
</div>

<section class="row15" id="products">
    <div class="large15-4 columns">
        <ul class="accordion hide-for-large" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">Sekce</a>
                <div class="accordion-content" data-tab-content>
                    <nav class="sideNav product">
                        <ul class="menu vertical">
                            <li class="active"><a href="#"><img src="{{root}}assets/img/odpadySide.png" alt="Odpady">Odpady</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/dumSide.png" alt="Kolečko">Dům a zahrada</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/kapalinySide.png" alt="Kapaliny">Kapaliny</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/zimaSide.png" alt="Zimní údržba">Zimní údržba</a></li>
                            <li><a href="#"><img src="{{root}}assets/img/skladSide.png" alt="Skladování">Skladování</a></li>
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
        <nav class="sideNav show-for-large product">
            <ul class="menu vertical">
                <li class="active"><a href="#"><img src="{{root}}assets/img/odpadySide.png" alt="Odpady">Odpady</a></li>
                <li>
                    <a href="#"><img src="{{root}}assets/img/dumSide.png" alt="Kolečko">Dům a zahrada</a>
                    <ul class="menu vertical nested">
                        <li>
                            <a href="/stepkovace-a-drtice">Štěpkovače a drtiče</a>
                        </li>
                        <li>
                            <a href="/kompostery">Kompostéry</a>
                        </li>
                        <li>
                            <a href="/posypove-voziky">Posypové vozíky</a>
                        </li>
                        <li>
                            <a href="/nadrze-na-vodu">Nádrže na vodu (designové)</a>
                        </li>
                        <li>
                            <a href="/vyklopne-voziky">Výklopné vozíky na 4kolky a malotraktory POLAR</a>
                        </li>
                        <li>
                            <a href="/posypove-voziky-zahrada">Posypové vozíky</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><img src="{{root}}assets/img/kapalinySide.png" alt="Kapaliny">Kapaliny</a></li>
                <li><a href="#"><img src="{{root}}assets/img/zimaSide.png" alt="Zimní údržba">Zimní údržba</a></li>
                <li><a href="#"><img src="{{root}}assets/img/skladSide.png" alt="Skladování">Skladování</a></li>
            </ul>
        </nav>
    </div>
    <div class="large15-11 columns">
        <h2 class="odpad"><img src="{{root}}assets/img/odpadPiktogram.png" alt="Odpad">Odpadové hospodářství</h2>
        <div class="row large-up-3 medium-up-2 small-up-1 productList odpad">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97250&w=269&h=250" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97250&w=269&h=250" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>
        <h2 class="dumAZahrada"><img src="{{root}}assets/img/dumAZahradaPiktogram.png" alt="Dům">Dům a zahrada</h2>
        <div class="row large-up-3 medium-up-2 small-up-1 productList dumAZahrada">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=269%C3%97202&w=269&h=202" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="kapaliny"><img src="{{root}}assets/img/kapalinyPiktogram.png" alt="Kapka">Hospodaření s kapalinami</h2>
        <div class="row large-up-3 medium-up-2 small-up-1 productList kapaliny">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="zimniUdrzba"><img src="{{root}}assets/img/zimniUdrzbaPiktogram.png" alt="Vločka">Zimní údržba</h2>
        <div class="row large-up-3 medium-up-2 small-up-1 productList zimniUdrzba">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="skladovani"><img src="{{root}}assets/img/skladovaniPiktogram.png" alt="Krabice">Skladování</h2>
        <div class="row large-up-3 medium-up-2 small-up-1 productList skladovani">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="zakazkovaVyroba"><img src="{{root}}assets/img/zakazkovaPiktogram.png" alt="Pravítko">Zakázková výroba</h2>
        <div class="row large-up-3 medium-up-2 small-up-1 productList zakazkovaVyroba">
            <div class="column">
                <a href="#">
                    <div class="product">
                        <div>
                            <img src="{{root}}assets/img/placeholderProduct.png" alt="Placeholder">
                        </div>
                        <strong>Velkoobjemové kontejnery</strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>