<div id="imgHead">
    <img src="{{root}}assets/img/stromy.jpg" alt="Stromy">
</div>

<section class="row15" id="search">
    <div class="large15-4 columns">
        <nav class="sideNav back">
            <ul class="menu vertical">
                <li class="active"><a href="#">Zadat nové vyhledávání</a></li>
            </ul>
        </nav>
    </div>
    <div class="large15-11 columns">
        <div class="row">
            <div class="small-12 columns">
                <header>
                    <h1>Výsledky vyhledávání</h1>
                </header>
                <p>Veškeré výsledky pro hledaný výraz <strong>“kontajnery zadarmo”</strong></p>
            </div>
        </div>

        <div class="items">
            <a href="#">
                <div class="row item">
                    <div class="small-4 columns">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=220%C3%97165&w=220&h=165" alt="Placeholder">
                    </div>
                    <div class="small-8 columns">
                        <h2>Lorem eua ifyus ef usiha eiufeufhueh iufa i</h2>
                        <p>
                            Lorem shdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsdnsnadkkana  fadsd...
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row item">
                    <div class="small-4 columns">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=220%C3%97165&w=220&h=165" alt="Placeholder">
                    </div>
                    <div class="small-8 columns">
                        <h2>Lorem eua ifyus ef usiha eiufeufhueh iufa i</h2>
                        <p>
                            Lorem shdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsdnsnadkkana  fadsd...
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row item">
                    <div class="small-4 columns">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=220%C3%97165&w=220&h=165" alt="Placeholder">
                    </div>
                    <div class="small-8 columns">
                        <h2>Lorem eua ifyus ef usiha eiufeufhueh iufa i</h2>
                        <p>
                            Lorem shdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsdnsnadkkana  fadsd...
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row item">
                    <div class="small-4 columns">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=21&txt=220%C3%97165&w=220&h=165" alt="Placeholder">
                    </div>
                    <div class="small-8 columns">
                        <h2>Lorem eua ifyus ef usiha eiufeufhueh iufa i</h2>
                        <p>
                            Lorem shdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsnakkdsdaksdnsajkdnsnadkkana  fadsdshdab asdbsa dbjasb dhsbd kjdsdnsnadkkana  fadsd...
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<footer>
    <div class="row15">
        <div class="large15-4 columns">
            <h2>Kam pokračovat dál</h2>
            <nav class="row">
                <div class="medium-3 large-7 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">Produkty</a></li>
                        <li><a href="#">Zakázková výroba</a></li>
                        <li><a href="#">Reference</a></li>
                    </ul>
                </div>
                <div class="medium-9 large-5 columns">
                    <ul class="menu simple vertical">
                        <li><a href="#">O nás</a></li>
                        <li><a href="#">Kontakty</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="large15-11 columns">
            <h2>Kontaktujte nás</h2>
            <div class="row">
                <div class="large-3 medium-4 columns">
                    <p>
                        <span><img src="{{root}}assets/img/tel.svg" alt="Telefon"></span>+420 123 456 789
                        <br>
                        <span><img src="{{root}}assets/img/send.svg" alt="Email"></span>info@elkoplast.cz
                    </p>
                </div>
                <div class="large-3 medium-3 columns">
                    <p>
                        Speciální Ulice&nbsp;125
                        <br>
                        123&nbsp;45 Město&nbsp;5
                    </p>
                </div>
                <div class="large-6 medium-5 columns">
                    <p>
                        IČ:&nbsp;123456789
                        <br>
                        DIČ:&nbsp;CZ123456789
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <!--logo-->
        </div>
    </div>
</footer>