{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elkoplast</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div id="page">

    <!--Horní navigace-->
    <nav data-sticky-container="">
      <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <!--Otevírací panel na mobilech-->
        <div class="title-bar" data-responsive-toggle="mainNav" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <!--Horní panel-->
        <div class="tob-bar" id="mainNav">
          <div class="row15">
            <!--Levá navigace-->
            <div class="large15-4 columns">
              <ul class="menu">
                <li class="menu-text"><a href="/"><img src="{{root}}assets/img/logo.png" alt="Elkoplast logo"></a></li>
              </ul>
            </div>
            <!--Pravá navigace-->
            <div class="large15-11 columns">
              <!--Horizontální dropdown na desktopu, vertikální accordion na mobilech-->
              <ul class="dropdown vertical large-horizontal menu paddingFix" data-responsive-menu="accordion large-dropdown">
                <li><a href="/"><img src="{{root}}assets/img/home.svg" alt="Domů"></a></li>
                <li class="has-submenu products">
                  <a href="#">Produkty</a>
                  <ul class="submenu menu vertical">
                    <li>
                      <div class="row15 large-up-5">
                        <div class="column">
                          <a href="#">
                            <div>
                              <img src="{{root}}assets/img/topbarKontejnery.png" alt="Kontejnery">
                              <h2>Odpadové hospodářství</h2>
                            </div>
                          </a>
                        </div>
                        <div class="column">
                          <a href="#">
                            <div>
                              <img src="{{root}}assets/img/topbarKolecko.png" alt="Kolečko">
                              <h2>Dům a zahrada</h2>
                            </div>
                          </a>
                        </div>
                        <div class="column">
                          <a href="#">
                            <div>
                              <img src="{{root}}assets/img/topbarKade.png" alt="Kádě">
                              <h2>Hospodaření s kapalinami</h2>
                            </div>
                          </a>
                        </div>
                        <div class="column">
                          <a href="#">
                            <div>
                              <img src="{{root}}assets/img/topbarKontejner.png" alt="Kontejner">
                              <h2>Zimní údržba</h2>
                            </div>
                          </a>
                        </div>
                        <div class="column">
                          <a href="#">
                            <div>
                              <img src="{{root}}assets/img/topbarKad.png" alt="Káď">
                              <h2>Skladování</h2>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li><a href="#"><strong>Zakázková výroba</strong></a></li>
                <li class="active"><a href="#">O nás</a></li>
                <li><a href="#">Kontakty</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#" class="button">Navštívit eshop</a></li>
                <li class="has-submenu language">
                  <a href="#">CZ</a>
                  <ul class="submenu menu vertical">
                    <li><a href="#"><b>CZ</b></a></li>
                    <li><a href="#">ENG</a></li>
                    <li><a href="#">DE</a></li>
                  </ul>
                </li>
                <li class="has-submenu search">
                  <a href="#"><img src="{{root}}assets/img/search.svg" alt="Hledat"></a>
                  <ul class="submenu menu vertical">
                    <li>
                      <div class="input-group">
                        <input class="input-group-field" type="text" placeholder="Zadejte hledaný výraz">
                        <div class="input-group-button">
                          <button class="button"></button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div id="contentAfterMenu">

      {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      {{> body}}

    </div>

  </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>